@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;

  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;

  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  line-height: 21px;
  font-size: 18px;
  font-weight: 400;
  color: #333;
  background-color: #f2f2f2;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.navigation-logo {
  width: 140px;
  margin-right: 28px;
  margin-left: 70px;
  margin-bottom: -6px;
  position: relative;
  z-index: 2;
}

.navigation {
  width: 1200px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 339px;
  display: flex;
}

.navigation-user {
  margin-left: auto;
  margin-right: 70px;
  margin-bottom: 14px;
  padding: 0;
  display: flex;
}

.navigation-list .navigation-item {
  padding: 20px 16px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.navigation-link {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
  text-align: center;

}

.button {
  color: #fff;
  text-transform: uppercase;
  background-color: #756157;
  text-decoration-line: none;
  font-weight: 700;
  padding: 8px 50px;
  border-radius: 4px;
  display: flex;
}

.hotel-search-button {
  font-size: 20px;
  line-height: 36px;
}

.nav-button {
  font-size: 16px;
  line-height: 20px;
  margin-left: 20px;
}

.navigation-search::before {
  content: url("../images/navigation-user-search.svg");
}

.navigation-favourite::before {
  content: url("../images/navigation-user-like.svg");
}

span.amount-likes-navigation-user {
  background-color: #7DB54F;
  border-radius: 10px;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  color: #fff;
  text-decoration-line: none;
}

.hero {
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-color: #000000;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 371px;
  padding-right: 371px;
  padding-top: 51px;
  padding-bottom: 82px;
}

.advantages-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.advantages-description {
  width: 230px;
  margin-bottom: 0;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-list li:first-child,
.advantages-list li:last-child {
  background-color: #82B3D3;
  color: #fff;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.advantages-wrapper-with-photo {
  margin: auto;
}

.reverse {
  flex-direction: row-reverse;
}

.advantages-list li:first-child .advantages-name,
.advantages-list li:last-child .advantages-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  width: 175px;
  margin: 0 auto 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-list li:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.20);
  padding: 103px 85px;
  width: 230px;
  text-align: center;
}

.advantages-list li:nth-child(3) .advantages-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  width: 175px;
  margin: 0 auto 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-list {
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  display: flex;
}

.advantages-list .advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  padding: 103px 85px;
  text-align: center;
  width: 230px;
}

.advantages-list .advantages-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  width: 175px;
  margin: 0 auto 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-list .advantages-name::after {
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);
  margin-top: 30px;
}

.advantages-list-service li:first-child,
.advantages-list-service li:last-child {
  background-color: rgba(131, 179, 211, 0.12);
  padding: 80px 85px;
  align-items: center;
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantages-list-service li:first-child::before {
  content: url("../images/advantage-icon-house.svg");
}

.advantages-list-service li:last-child::before {
  content: url("../images/advantage-icon-gift.svg");
}

.advantages-list-service .advantages-item {
  padding: 80px 85px;
  align-items: center;
  display: flex;
  width: 230px;
  flex-direction: column;
  justify-content: center;
}

.advantages-list-service .advantages-name {
  margin: 30px 0;
  width: 230px;
}

.advantages-list-service .advantages-description {
  margin-top: 0;
  margin-bottom: 0;
  width: 230px;
}

.advantages-text-wrapper {
  padding-top: 69px;
  padding-bottom: 69px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages-text-wrapper .advantages-title {
  width: 620px;
  margin-top: 0;
  margin-bottom: 25px;
}

.advantages-text-wrapper .advantages-text {
  margin-bottom: 0;
  margin-top: 0;
}

.advantages-services-text-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages-services-text-wrapper .advantages-text {
  margin-bottom: 0;
  margin-top: 0;
}

.advantages-services-text-wrapper .advantages-title {
  margin-top: 0;
  margin-bottom: 20px;
  width: 505px;
}

.advantages-list-service {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 0;
}

.advantages-list-service .advantages-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-list-service .advantages-item::before {
  content: url("../images/advantage-icon-burger.svg");
}

.hotel-search {
  display: flex;
  padding: 96px 304px;
  flex-direction: column;
  align-items: center;
}

.hotel-search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hotel-search-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 54px;
}

.subscription {
  padding: 96px 258px 104px 258px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscription-theme-custom {
  color: #fff;
  background-color: #8daab8;
  background-image: url("../images/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscription-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
  width: 475px;
  margin-top: 0;
  margin-bottom: 54px;
}

.subscription-field {
  background-color: #F2F2F2;
  padding: 12px 20px;
  width: 452px;
  border: none;
  border-top-left-radius: 4px;
  border-end-start-radius: 4px;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.subscription-field::placeholder {
  opacity: 0.6;
  color: #000;
}

.subscription-button {
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
  color: #fff;
  padding: 8px 50px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  font-family: inherit;
  width: 232px;
}

.page-footer {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding-top: 45px;
  padding-bottom: 35px;
}

.footer-social-list {
  margin-left: 70px;
  display: flex;
  gap: 20px;
  width: 142px;
  padding-left: 0;
}

.footer-social-logo {
  margin-left: auto;
  margin-right: 70px;
}

.footer-contacts-phone {
  width: 720px;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  margin-left: auto;
}

.footer-social-list .footer-social-item-vk::before {
  content: url("../images/social-vk.svg");
}

.footer-social-list .footer-social-item-tg::before {
  content: url("../images/social-tg.svg");
}

.footer-social-list .footer-social-item-youtube::before {
  content: url("../images/social-youtube.svg");
}

.footer-social-logo::before {
  content: url("../images/footer-logo-academy.svg");
}

.subscription-form {
  display: flex;
}

.catalog-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
  display: flex;
}

.catalog-filter {
  background-image: url(../images/filter-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  color: #fff;
  padding: 35px 70px 70px 70px;
}

.catalog-filter-form {
  display: flex;
  align-items: flex-end;
}

.catalog-filter-group-infra {
  border: none;
  padding: 0;
  margin-right: 70px;
}

.catalog-filter-group-living {
  border: none;
  padding: 0;
  text-align: left;
}

.catalog-filter-group-price {
  display: flex;
  align-self: flex-start;
  text-align: left;
  border: none;
  padding: 0;
  margin-left: auto;
  margin-right: 70px;
}

.price-min,
.price-max {
  width: 143px;
  margin-top: 32px;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  margin-top: 32px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.breadcrumbs-title-wrapper {
  display: flex;
  flex-direction: column;
}

.filter-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a.breadcrumbs-link {
  color: #fff;
  font-size: 16px;
}

a.breadcrumbs-link::before{
  content: url("../images/Vector.svg");
  margin-right: 10px;
  margin-left: 10px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 8px;
  margin-bottom: 40px;
}

.breadcrumbs-item-home {
  content: url("../images/breadcrumbs-house.svg");
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-button {
  padding: 8px 50px;
  background-color: #82B3D3;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 4px;
  border: none;
}

.catalog-filter-reset-button {
  padding: 8px 50px;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border: none;
  margin-top: 32px;
}

.catalog-search-result-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}

.catalog-search-select-control {
  margin-right: 70px;
  width: 292px;
  height: 49px;
  margin-left: auto;
}

.show-mode-list {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 8px;
}

.show-mode-item {
  display: flex;
  width: 48px;
  height: 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}

.show-mode-item-current {
  border: 2px solid #000;
}

.catalog-search {
  padding: 50px 70px 60px 70px;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: start;
  margin-left: 20px;
}

.product-card-image {
  vertical-align: middle;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.product-price {
  display: flex;
  margin-left: 20px;
  margin-bottom: 16px;
  justify-content: space-between;
  margin-right: 20px;
}

.product-card-button-favourite {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
  padding: 8px 18px;
}

.product-card-button-info {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  background-color: #756157;
  padding: 8px 26px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 1060px;
  justify-content: space-between;
}

.product-card {
  width: 340px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  margin-bottom: 20px;
}

.product-card-button-rating {
  color: #333;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
  margin-right: 20px;
  margin-left: auto;
}

.rating-result {
  margin-top: 16px;
  display: flex;
  margin-bottom: 20px;
  margin-left: 20px;
}

.rating-active {
  content: url("../images/star-rating.svg");
  margin-right: 6px;
}

.button-active-favourite {
  background-color: #7DB54F;
}

.catalog-divider {
  content: url("../images/divider-6.svg");
  margin-top: 20px;
  margin-bottom: 40px;
}

.pagination {
  display: flex;
  padding: 0;
  margin-bottom: 0;
  gap: 8px;
  margin-top: 0;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 4px;
}

.pagination-link.pagination-current {
  border-radius: 4px;
  background-color: #F2F2F2;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

.show-cards-button {
  content: url("../images/view-mode-icon.svg");
  width: 16px;
  height: 14px;
}

.show-slides-button {
  content: url("../images/view-mode-icon-gallery.svg");
  width: 16px;
  height: 14px;
}

.show-list-button {
  content: url("../images/view-mode-icon-spisok.svg");
  width: 16px;
  height: 14px;
}
